*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height:100%;
    width:100%;
    background: linear-gradient(to right,#191D28,#697db5);
    position: relative;
    overflow: hidden;
}

#nav{
    height: 100px;
    width: 100%;
    /* background-color: rgb(25, 0, 255); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
    position: absolute;
    z-index: 2;
}

#nav-part2{
    display: flex;
    gap: 30px;
}
#nav-part2 a{
    color: white;
}

#nav-part3{
    /* background-color: red; */
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    color:white;        

}
#nav-part3 a{
    color:white;
}
#nav a{
    text-decoration: none;

}
#nav>i{
    color:white;
    font-size: 27px;
    background-color: #ffffff8e;
    padding: 10px;
    border-radius: 50%;
}
#right{
    height:100%;
    width:45%;
    background: linear-gradient(to right,#EC1447,#cd5b73);
    position: absolute;
    top:0;
    right: 0;
    clip-path: polygon(11% 0%, 100% 0, 100% 100%, 45% 100%);
    z-index: 1;

}
#main>img{
    position: absolute;
    transform: rotate(-30deg);
    filter: brightness(1.5);
    right: 20%;
    z-index: 3;
    top:20%;
    width: 700px;
}

#part1{
    color: white;
    width: 300px;
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 3;
}

#part1>h1{
    font-size: 50px;
    line-height: 3rem;
}

#part1>i{
    color: goldenrod;
    line-height: 3rem;
}
#main>h1{
    font-size: 300px;
    text-transform: uppercase;
    position: absolute;
    /* display: block; */
    white-space: nowrap;
left:-10%;
font-family: montserrat;
color:rgba(0, 0, 0, 0.384);
top:16%;
}
#right-center{
    position: absolute;
    width:15%;
    height:8%;
    right:10%;
    bottom: 5%;
    color: white;
}
#right-center>i{
    font-size: 30px;
}
#right-center>h5{
    font-size: 15px;
    position: absolute;
    left: 30%;
    top: 13%;
}
#right-center>h3{
    font-size: 20px;
    position: absolute;
    left: 30%;
    top: 38%;
}